<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <ul>
        <li>
            <a th:href="@{/variables/string/} + 'Hola Tommy'">/variables/string/Hola Tommy</a>
        </li>
        <li>
            <a th:href="@{/variables/string/} + 'Hola Junior'">/variables/string/Hola Junior</a>
        </li>
        <li>
            <a th:href="@{/variables/string/} + ${titulo} + '/' + ${'67'}">/variables/string/Saludos Pikitiki/87</a>
        </li>
    </ul>
</body>
</html>