<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recibir parámetros del request HTTP GET -URL</title>
</head>
<body>
    <h1>Enviar parámetros del request HTTP GET -URL</h1>
    <ul>
        <li>
            <a th:href ="@{/params/string(texto='Hola Tommy')}">/params/string?texto=Hola Tommy</a>
        </li>
        <li>
            <a th:href ="@{/params/string(texto='Hola Sofia')}">/params/string?texto=Hola Sofia</a>
        </li>
        <li>
            <a th:href ="@{/params/mix-params(saludo='Como estás Sofia',numero=7)}">/mix-params/saludo?Como estás Sofia&numero=7</a>
        </li>
        <li>
            <a th:href ="@{/params/mix-params-request(saludo='Como estás Sofia',numero=7)}">/mix-params-request/saludo?Como estás Sofia&numero=7</a>
        </li>
    </ul>
</body>
</html>